<form [formGroup]="form">
  <h2>Login</h2>
  <mat-form-field>
    <input matInput placeholder="Login" formControlName="login" required />
    <mat-error>{{ this.form.get('login')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
      required
    />
    <mat-error>{{ this.form.get('password')?.errors?.message }}</mat-error>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary" type="button" (click)="onLogin()">
      Login
    </button>
    <button
      mat-button
      color="warn"
      type="button"
      routerLink="/auth/request-password"
    >
      Esqueci minha senha
    </button>
  </div>
</form>
