<div class="sidenav" [class.is-mobile]="mobileQuery.matches">
  <app-header
    [name]="user?.name"
    [avatar]="user?.avatar"
    (toogle)="snav.toggle()"
    (logout)="authService.logout()"
  >
  </app-header>
  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      opened
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
    >
      <mat-nav-list>
        <mat-accordion multi>
          <ng-container *ngFor="let menu of menus">
            <a
              mat-list-item
              routerLinkActive="is-active"
              *ngIf="!menu.submenus"
              [routerLink]="menu.router"
            >
              {{menu.title}}
            </a>
            <mat-expansion-panel *ngIf="menu.submenus">
              <mat-expansion-panel-header>
                <mat-panel-title> {{menu.title}}</mat-panel-title>
              </mat-expansion-panel-header>

              <a
                mat-list-item
                routerLinkActive="is-active"
                *ngFor="let submenu of menu.submenus.menus"
                [routerLink]="submenu.router"
              >
                {{submenu.title}}
              </a>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="router-outlet"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
