<div class="sidenav" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">My Admin</h1>
    <span class="flex-1"></span>
    <button mat-raised-button id="avatar-named" [matMenuTriggerFor]="menu">
      <span>{{user?.name}}</span>
      <img [src]="user?.avatar" class="rounded-full w-8 h-8" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Perfil</button>
      <button mat-menu-item (click)="authService.logout()">Sair</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      opened
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
    >
      <mat-nav-list>
        <mat-accordion multi>
          <mat-expansion-panel *ngFor="let menu of menus">
            <mat-expansion-panel-header>
              <mat-panel-title> {{menu.title}}</mat-panel-title>
            </mat-expansion-panel-header>

            <a
              mat-list-item
              routerLinkActive="is-active"
              *ngFor="let child of menu.children"
              [routerLink]="child.link"
            >
              {{child.title}}
            </a>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="router-outlet"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
