<mat-card class="mb-8">
  <h2>Contatos</h2>
</mat-card>
<div class="flex justify-between">
  <button mat-raised-button color="primary" (click)="addNewContact()">
    Adicionar novo contato
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="contactFormArray.invalid"
    (click)="saveContacts()"
  >
    Salvar
  </button>
</div>
<mat-card *ngFor="let control of contactFormGroups; index as i" class="my-4">
  <mat-card-header>
    <mat-card-title>Contato {{ i + 1 }}</mat-card-title>
  </mat-card-header>
  <form [formGroup]="control">
    <mat-form-field class="w-4/12 mr-2">
      <input matInput placeholder="Identificado" formControlName="identify" />
      <mat-error>{{ control.get('identify')?.errors?.message }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-4/12 mr-2">
      <mat-label>Tipo de contato</mat-label>
      <select matNativeControl required formControlName="contactType">
        <option value="">Selecione</option>
        <option *ngFor="let contactType of contactTypes" [value]="contactType">
          {{ contactType }}
        </option>
      </select>
      <mat-error>{{ control.get('contactType')?.errors?.message }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-4/12 mr-2">
      <input matInput placeholder="Value" formControlName="value" required />
      <mat-error>{{ control.get('value')?.errors?.message }}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-4/12 mr-2">
      <input matInput placeholder="Complemento" formControlName="complement" />
      <mat-error>{{ control.get('complement')?.errors?.message }}</mat-error>
    </mat-form-field>
  </form>
  <mat-card-actions
    *ngIf="i"
    matRaisedButton
    (click)="removeContact(i)"
    class="text-right"
  >
    <button mat-button color="warn">Remover</button>
  </mat-card-actions>
</mat-card>
