<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="handleToogle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">Kunlatek</h1>
  <span class="flex-1"></span>
  <button mat-raised-button id="avatar-named" [matMenuTriggerFor]="menu">
    <span>{{ name }}</span>
    <img [src]="avatar" class="rounded-full w-8 h-8" />
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile/user">Perfil</button>
    <button mat-menu-item (click)="handleLogout()">Sair</button>
  </mat-menu>
</mat-toolbar>
