<form [formGroup]="form">
  <mat-form-field class="w-8/12">
    <input
      matInput
      type="password"
      placeholder="Senha atual"
      formControlName="currentPassword"
      required
    />
    <mat-error>{{ form.get('currentPassword')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-8/12">
    <input
      matInput
      type="password"
      placeholder="Nova Senha"
      formControlName="newPassword"
      required
    />
    <mat-error>{{ form.get('newPassword')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-8/12">
    <input
      matInput
      type="password"
      placeholder="Confirme a nova senha"
      formControlName="confirmNewPassword"
      required
    />
    <mat-error>{{ form.get('confirmNewPassword')?.errors?.message }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="handleChangePassword()">
    Salvar
  </button>
</form>
