<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Perfil</h2>
  <img [src]="avatar" *ngIf="avatar" class="rounded-full w-32 h-32 mx-auto" />
  <input
    type="file"
    data-max-size="2048"
    accept="image/png,image/jpeg"
    (change)="onFileChange($event)"
  />
  <mat-form-field class="w-full">
    <input matInput placeholder="Nome" formControlName="name" required />
    <mat-error>{{ this.form.get('name')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-8/12">
    <input
      matInput
      placeholder="CPF"
      formControlName="cpf"
      required
      anutilsCpfMask
    />
    <mat-error>{{ this.form.get('cpf')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-4/12">
    <mat-label>Gênero</mat-label>
    <select matNativeControl required>
      <option value="male">Masculino</option>
      <option value="female">Feminino</option>
      <option value="other">Outros</option>
    </select>
    <mat-error>{{ this.form.get('gender')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-6/12">
    <mat-label>Data de nascimento</mat-label>
    <input
      matInput
      formControlName="birthday"
      [max]="maxDate"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" required />
    <mat-error>{{ this.form.get('email')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-8/12">
    <input
      matInput
      type="password"
      placeholder="Senha"
      formControlName="password"
      required
    />
    <mat-error>{{ this.form.get('password')?.errors?.message }}</mat-error>
  </mat-form-field>
  <mat-form-field class="w-8/12">
    <input
      matInput
      type="password"
      placeholder="Confirme a senha"
      formControlName="confirmPassword"
      required
    />
    <mat-error>{{
      this.form.get('confirmPassword')?.errors?.message
    }}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary">Login</button>
    <button mat-button color="warn" routerLink="/auth/request-password">
      Forget Password
    </button>
  </div>
</form>
